<h1>appointments</h1>
<a href="/appform"><button>make appointment</button></a>

{{#each appointment}}

                {{startDate}}
                {{comments}}


                <a href="{{_id}}/appointment"><button>Sign Up</button> </a>
                {{!-- //the id is referred to by the handlebars appointment id --}}
                <div>
                <form action="/apps/{{_id}}?_method=DELETE" method="POST">
                <button type="submit" class="btn"> Delete </button></form>
                </div>

                <a href="/{{_id}}/appointment"><button>Edit</button> </a>

{{/each}}