<h1>appointments</h1>
{{!-- <a href="/appform"><button>make appointment</button></a> --}}

{{#each appointment}}

<div class="row">
    <div class="col s12 m6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">
                    {{startDate}} -
                    {{endDate}} </span>
                <p>{{owner}}</p>
                <p>{{dog}}</p>
            </div>
            <div class="card-action">
                <a href="#">
                    <form action="/apps/{{_id}}?_method=DELETE" method="POST">
                        <button type="submit" class="btn"> Delete </button></form>
                </a>
            </div>
        </div>
    </div>
</div>


{{!-- {{startDate}}
{{endDate}}
{{owner}}
{{dog}} --}}


{{#each sitterComment}}
<p>{{name}}</p>
<p>{{email}}</p>
<p>{{cellNumber}}</p>
<p>{{comments}}</p>

{{log _id}}
<form action="/comments/{{_id}}?_method=DELETE" method="POST">
    <button type="submit" class="btn"> Delete Comment </button></form>

{{/each}}

<a href="{{_id}}/appointment"><button>Sign Up</button> </a>
{{!-- //the id is referred to by the handlebars appointment id --}}
<div>

    <a href="{{_id}}/edit"><button>Edit</button> </a>
</div>



{{/each}}

{{!-- {{#each comments}}
{{name}}
{{cellNumber}}
{{/each}} --}}