<h1>Appointments</h1>


{{#each appointment}}

<div class="row">
    <div class="col s12 m6">
        <div class="card brown">
            <div class="card-content white-text">
                <span class="card-title">
                    {{startDate}} -
                    {{endDate}} </span>
                <p>Owner - {{owner}}</p>
                <p>Dog - {{dog}}</p>
            </div>
            <div class="card-action">

                <form class="btn" action="/apps/{{_id}}?_method=DELETE" method="POST">
                    <button type="submit"> Delete </button></form>

                <a href="{{_id}}/appointment" class="btn">Sign Up </a>

                <a href="{{_id}}/edit" class="btn">Edit </a>


            </div>
        </div>
    </div>
</div>


{{#each sitterComment}}

<div class="row">
    <div class="col s12 m6">
        <div class="card grey">
            <div class="card-content black-text">
                <span class="card-title">
                    {{name}}
                </span>
                <p>Email - {{email}}</p>
                <p>Cell - {{cellNumber}}</p>
                <p>Comment - {{comments}}</p>
            </div>
            <div class="card-action">
                <form class="btn" action="/comments/{{_id}}?_method=DELETE" method="POST">
                    <button type="submit"> Delete Comment </button></form>
            </div>
        </div>
    </div>
</div>


{{/each}}

{{/each}}